{% load static %}

<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Chat Summarizer</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/chat_summarize.css' %}">
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="header item">CS408 Team Goo</div>
            <a class="item" href="#">Chat Summarizer</a>
        </div>
        <div class="ui centered grid container" style="margin-top: 20px">
            <div class="row">
                <div class="twelve wide column">
                    <h1>Chat Summarizer</h1>
                    <div class="ui divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui form" style="margin-bottom: 20px">
                        <div class="field">
                            <label>Chat</label>
                            <textarea rows="10"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="ui primary right floated button">Summarize</button>
                    <button class="ui basic right floated button">Clear</button>
                </div>
            </div>
            <div class="row">
                <div class="twelve wide column">
                    <h1>Summary</h1>
                    <div class="ui divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="twelve wide column" style="margin-bottom: 30px">
                    <p>채팅 요약 첫 번째</p>
                    <p>채팅 요약 두 번째</p>
                    <p>채팅 요약 세 번째</p>
                </div>
            </div>
        </div>
    </body>
</html>