{% load staticfiles %}

<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Chat Summarizer</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="header item">CS408 Team Goo</div>
            <a class="item" href="#">Chat Summarizer</a>
        </div>
        <div class="ui centered grid container" style="margin-top: 20px">
            <div class="row">
                <div class="twelve wide column">
                    <h1>Chat Summarizer</h1>
                    <div class="ui divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="twelve wide column">
                    <form class="ui form" method="GET" style="margin-bottom: 20px">
                        <div class="field">
                            <!-- {{ form }} -->
                            <textarea id="chatField" rows="10"></textarea>
                        </div>
                        <button type="submit" id="submitButton" class="ui primary right floated button">Summarize</button>
                        <button type="button" id="clearButton" class="ui basic right floated button">Clear</button>
                        <!-- <button type="button" id="clearButton" class="ui basic right floated button" onclick="clearField();">Clear</button> -->
                    </form>
                </div>
            </div>
            {% if summary %}
            <div class="row">
                <div class="twelve wide column">
                    <h1>Summary</h1>
                    <div class="ui divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="twelve wide column" style="margin-bottom: 30px">
                    <p id="summary">{{ summary }}</p>
                </div>
            </div>
            {% endif %}
        </div>
        <script type="text/javascript">
            function jsonpCallback(json) {
                alert(json);
            }

            $(document).ready(function() {
                $("#clearButton").click(function() {
                    document.getElementById("chatField").value = "";
                });
                
                $("#submitButton").click(function() {
                    var chatData = document.getElementById("chatField").value;
                    
                    $.ajax({
                        url: "http://localhost:8080/",
                        type: "GET",
                        data: "chat=" + chatData,
                        dataType: "jsonp",
                        jsonp:"callback",
                        success: function (data) {
                            // $("#summary").html(response.data);
                            if (data != null) {
                                alert(data);
                            }
                        },
                    });

                    // $.post("http://localhost:8080", chatData, function(data) {
                    //     $("#summary").html(data);
                    // });
                });
            });
        </script>
        <!-- <script type="text/javascript" src="{% static 'webdemo/chat_summarize.js' %}"></script> -->
    </body>
</html>