{% extends "chat_summarizer.html" %}
{% block content %}

<div class="row">
    <div class="twelve wide column">
        <form class="ui form" method="POST" action="highlight" role="form" style="margin-bottom: 20px">
            <div class="field">
                <label for="chatField">Chat</label>
                <textarea id="chatField" name="chatField" rows="10"></textarea>
            </div>
            <input type="submit" value="Highlight" id="submitButton" class="ui primary right floated button"/>
            <button type="button" id="clearButton" class="ui basic right floated button" onclick="clearField();">Clear</button>
        </form>
    </div>
</div>

{% if highlight %}
<div class="row">
    <div class="twelve wide column">
        <h1>Highlight</h1>
        <div class="ui divider"></div>
    </div>
</div>
<div class="row">
    <div class="twelve wide column" style="margin-bottom: 30px; font-size: 18px">
        {% for chat in highlight %}
            {% if chat[0] == 0 %}
                <p>{{ chat[1] }}</p>
            {% else %}
                <p style="background-color:rgb(243, 234, 180)">{{ chat[1] }}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}